html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

#root{
    height: inherit;
}
.navbar{
    background-color: black;
    color: whitesmoke;
}

.container{
    height: inherit;
}

.container .container-header{
    margin: 10px 10px;
}

/* .btn .btn-link .nav-link{
    padding-left: 5px ;
    padding-right: 5px ;
} */

.customButton{
    padding: 5px 5px;
}